/*RESET*/
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
/*RESET*/

/*GLOBAL*/
:root {
    --main-blue: #0065fc;
    --light-blue: #deebff;
    --background-white: #ffffff;
    --grey: #f2f2f249;
}

* {
    font-family: raleway, sans-serif;
}

body {
    background-color: var(--background-white);
}
/*GLOBAL*/

/*HEADER*/
header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-areas:
        "grid_logo grid_inscription"
        "grid_hebergements grid_activites";
}

header a {
    color: var(--main-blue);
    text-decoration: none;
}

.logo {
    grid-area: grid_logo;
    padding-left: 20px;
}

.activites,
.hebergements {
    text-align: center;
    align-self: center;
    font-weight: 500;
    border-bottom: solid;
    padding-bottom: 13px;
}

.inscription {
    padding-right: 20px;
    grid-area: grid_inscription;
    justify-self: end;
    align-self: center;
    font-weight: 800;
}

.hebergements {
    grid-area: grid_hebergements;
    border-color: var(--main-blue);
}

.activites {
    grid-area: grid_activites;
    color: black;
    border-color: var(--grey);
}

.activites:active {
    border-color: var(--main-blue);
}

/*RESPONSIVE*/
@media (min-width: 992px) {
    body {
        margin: 0 26px 0 26px;
    }
    header {
        display: flex;
    }
    .activites,
    .hebergements {
        padding-bottom: 0px;
        border-bottom: none;
        width: 162px;
        padding-top: 45px;
        border-top: solid 2px;
    }
    .hebergements {
        margin-left: auto;
    }
    .activites {
        border-color: var(--grey);
    }
    .inscription {
        order: 4;
        padding: 46px 0 0 0;
        width: 162px;
        text-align: center;
    }
    .logo {
        padding: 63px 0 0 0;
    }
}
/*RESPONSIVE*/
/*HEADER*/
