/* $ RESET*/
* {
    box-sizing: border-box;
}
/*RESET*/

/* $ GLOBAL*/
:root {
    --main-blue: #0065fc;
    --light-blue: #deebff;
    --background-white: #ffffff;
    --grey: #f2f2f2;
    --dark-grey: #d9d9d9;
}

* {
    font-family: raleway, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-white);
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

/* END GLOBAL*/

/* $ HEADER*/
nav {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 24px;
    grid-template-rows: auto;
    grid-template-areas:
        "grid_logo grid_inscription"
        "grid_hebergements grid_activites";
}

.logo {
    grid-area: grid_logo;
    padding-left: 20px;
}

.activites,
.hebergements {
    text-align: center;
    align-self: center;
    font-weight: 500;
    border-bottom: solid;
    padding-bottom: 13px;
}

.inscription {
    padding-right: 20px;
    grid-area: grid_inscription;
    justify-self: end;
    align-self: center;
    font-weight: 800;
    color: var(--main-blue);
}

.hebergements {
    grid-area: grid_hebergements;
    border-color: var(--grey);
}

.activites {
    grid-area: grid_activites;
    border-color: var(--grey);
}

.activites:active,
.hebergements:active,
.activites:hover,
.hebergements:hover {
    color: var(--main-blue);
    border-color: var(--main-blue);
}

/*END HEADER*/

/* $ MAIN */

/* $ SEARCHZONE */
.searching {
    padding: 20px;
}

.intro h2 {
    margin-bottom: 0px;
}

.searchbox {
    border: solid 1px var(--grey);
    border-radius: 11px;
    height: 51px;
    min-width: 333px;
    max-width: 420px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.searchbox input {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 15px;
    font-size: 1.17em;
    font-family: raleway;
    font-weight: bold;
}

.location-icon,
.search-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    height: 100%;
    border-radius: 10px;
}

.search-icon {
    background-color: var(--main-blue);
    border-style: none;
}

.search-icon:hover {
    background-color: rgb(102, 123, 212);
    color: white;
    cursor: pointer;
}

.location-icon {
    background-color: var(--grey);
}

.fa-map-marker-alt,
.fa-search {
    font-size: 19px;
}

.fa-search {
    color: white;
}

.filters button {
    max-height: 50px;
    padding: 0px;
    background-color: white;
    border: solid 2px var(--dark-grey);
    border-radius: 50px;
    font-size: 1em;
    transition: 0.5s;
    margin-bottom: 13px;
    margin-right: 9px;
}

input:focus,
button:focus {
    outline: none;
}

.filters button i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--light-blue);
    color: var(--main-blue);
    position: relative;
    top: -2px;
    right: 1px;
}

.filters button span {
    padding: 0 12px 0 9px;
    position: relative;
    top: -2px;
    right: 0px;
    font-weight: bold;
}

.filters button:hover {
    background-color: var(--main-blue);
    color: white;
    cursor: pointer;
}

.filters button:checked,
button:active,
button:focus {
    background-color: var(--main-blue);
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-info {
    padding: 4px 8px;
    color: var(--main-blue);
    border: solid 2px var(--dark-grey);
    border-radius: 50px;
    font-size: 12px;
    max-height: 24px;
    align-self: flex-start;
    margin-top: 14px;
}

.info p {
    padding-left: 10px;
}

/* END SEARCHZONE */

/* $ RESULTS */

figure:hover {
    transform: scale(1.1);
}

figure {
    background-color: var(--grey);
    padding: 5px;
    border-radius: 20px;
    margin: 0px;
    margin-bottom: 12px;
    height: 144px;
    width: 335px;
    box-shadow: 0px 8px 15px var(--dark-grey);
    transition: all 0.2s ease-in-out;
}

.fa-star {
    font-size: 12px;
}

.grey {
    color: var(--dark-grey);
}

.blue {
    color: var(--main-blue);
}

/* $ POPULARS */

.popular {
    background-color: var(--grey);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.fa-chart-line {
    font-size: 1.5em;
}

.popular figure {
    height: 144px;
}

.popular figure img {
    height: 134px;
    width: 127px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    margin-right: 16px;
}

.popular figure .description {
    width: 165px;
    display: inline-block;
    position: relative;
    top: -13px;
}

figure .description h4 {
    margin-bottom: 14px;
}

.popular figure .description p {
    margin-top: -12px;
}

figure .description p {
    margin-top: -14px;
}

.popular figure .fa-star {
    margin-top: 23px;
}

/* $ HOTELS */

.hotels {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure img {
    height: 114px;
    width: 323px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    margin-right: 16px;
}

figure {
    height: 199px;
}

.hotels figure .description {
    padding-top: 4px;
    padding-left: 12px;
}

.hotels figure .description h4 {
    margin-top: 0px;
    margin-bottom: 3px;
}

.hotels figure .description p {
    margin-top: 0px;
    margin-bottom: 3px;
}

.hotels figure .fa-star {
    margin-top: 0px;
}

.hotels > span {
    align-self: flex-start;
    padding-top: 20px;
    font-weight: 700;
    font-size: large;
    width: 100%;
}

/* RESPONSIVE */

/* $ SORTIES */

.sorties figure {
    height: 190px;
    padding: 0px;
}

.sorties figure img {
    width: 100%;
}

.sorties figure h4 {
    padding-left: 12px;
}

.sorties {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* END MAIN */

/* $ FOOTER */
footer {
    background-color: var(--grey);
    padding: 41px 31px 18px 31px;
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
}
footer div {
    min-width: 270px;
}
footer ul {
    list-style: none;
    padding: 0;
    font-weight: 500;
}
footer h3 {
    margin-bottom: 16px;
    margin-top: 0px;
}
footer li {
    padding-bottom: 11px;
}
/* END FOOTER */

/*RESPONSIVE*/

@media (min-width: 1421px) {
    .hotels {
        order: -1;
        flex-grow: 4;
        max-width: 880px;
        background-color: var(--grey);
    }
    .popular {
        flex-direction: column;
    }
}

@media (min-width: 1199px) {
    .search-icon:before {
        content: "Rechercher";
        font-size: 16px;
        color: white;
        font-weight: 600;
    }
    .search-icon .fa-search {
        display: none;
        min-width: 52px;
    }
    .search-icon {
        min-width: 134px;
        border-radius: 0 10px 10px 0;
    }
    .contain {
        padding: 0 50px;
    }
    .results section {
        border-radius: 20px;
        margin: 5px;
    }
    .results {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 50px;
    }
    figure {
        margin: 15px;
    }
    .hotels figure {
        width: 246px;
    }
    .hotels figure img {
        width: 237px;
    }
    .grid-activity {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 196px 40px 44px 165px;
    }
    .box1 {
        grid-row: 1 / span 4;
    }
    .box2 {
        grid-row: 1 / span 2;
    }
    .box3 {
        grid-column: 2;
        grid-row: 4;
    }
    .box4 {
        grid-column: 3;
        grid-row: 1 / span 4;
    }
    .box5 {
        grid-column: 4;
    }
    .box6 {
        grid-column: 4;
        grid-row: 3 / span 2;
    }
    .sorties figure {
        width: auto;
        height: 100%;
    }
    .sorties figure h4 {
        position: relative;
        top: -68px;
        background-color: white;
        padding: 16px;
        border-radius: 0 0 20px 20px;
    }
    .sorties img {
        height: 100%;
        border-radius: 20px;
    }
}

@media (min-width: 992px) {
    nav {
        padding: 0 20px;
        display: flex;
    }
    .activites,
    .hebergements {
        width: 162px;
        padding-bottom: 0px;
        padding-top: 45px;
        border-bottom: none;
        border-top: solid 2px;
        border-color: var(--grey);
    }
    .hebergements {
        margin-left: auto;
    }
    .inscription {
        order: 1;
        padding: 46px 0 0 0;
        width: 162px;
        text-align: center;
    }
    .logo {
        padding: 63px 0 0 0;
    }
    footer {
        display: flex;
        flex-wrap: nowrap;
    }
    footer div {
        width: 450px;
    }
}

@media (max-width: 362px) {
    .popular figure .description {
        font-size: 15px;
        width: 150px;
        right: 10px;
    }
    figure .description h4 {
        margin-bottom: 14px;
        white-space: break-spaces;
    }
    .searching {
        padding: 10px;
    }
    .popular {
        padding: 0px;
    }
    .popular figure {
        width: 100%;
    }
    .popular figure img {
        width: 30%;
    }
    .hotels {
        padding: 0px;
    }
    .hotels figure {
        width: 100%;
    }
    .hotels figure img {
        width: 100%;
    }
    .sorties {
        padding: 1px;
    }
    .sorties figure {
        width: 100%;
    }
    .sorties figure img {
        width: 100%;
    }
    .searchbox {
        min-width: 150px;
    }
}

/*RESPONSIVE*/
